<div class="flex-1 flex flex-col justify-center items-center m-3">
  <div class='flex w-full pb-4'>
    <%= image_tag 'sasimi.png', class: 'w-28 h-16 sm:w-48 sm:h-32' %>
    <%= image_tag 'touhu.png', class: 'w-28 h-16 sm:w-48 sm:h-32 ml-auto' %>
  </div>
  <p class="text-2xl font-bold mb-6">
    ようこそ　こどぐるサーチ へ
  </p>
  <p class="text-lg mb-6">
    　本サービスでは、テレビドラマ「孤独のグルメ」で登場した店舗を検索したり、<br>写真とコメントを投稿したり
    することができます。<br>
    　五郎さんの足跡を辿る聖地巡礼にお役立てください。
  </p>
  <p class="font-bold text-lg mb-1">
    「よし。店を探そう」
  </p>
  <div class="flex flex-col mt-1" %>
    <% if user_signed_in? %>
      <%= link_to '店舗検索', shops_path, class: "text-sm sm:text-lg px-8 text-blue-900 hover:underline" %>
      <%= link_to '機能について', features_path, class: "text-sm sm:text-lg px-8 text-blue-900 hover:underline" %>
    <% else %>
      <%= link_to 'アカウント作成', new_user_registration_path, class: "text-sm sm:text-lg px-8 text-blue-900 hover:underline" %>
      <%= link_to 'ログイン', new_user_session_path, class: "text-sm sm:text-lg px-8 text-blue-900 hover:underline" %>
      <%= link_to '機能について', features_path, class: "text-sm sm:text-lg px-8 text-blue-900 hover:underline" %>
    <% end %>
  </div>

  <div class='flex w-full'>
    <%= image_tag 'steak.png', class: 'w-28 h-16 sm:w-48 sm:h-32' %>
    <%= image_tag 'yakitori.png', class: 'w-28 h-16 sm:w-48 sm:h-32 ml-auto' %>
  </div>
</div>
