<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "こどぐるサーチ" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload", media: "all" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true, type: "module" %>
  </head>

  <body class="flex flex-col min-h-screen">
    <% if user_signed_in? %>
      <%= render 'shared/login_header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <%= render 'shared/flash_message' %>
    <div class="grow flex flex-col bg-[#fff1cf]">
      <div class="container mx-auto mt-8 text-4xl"><%= yield(:title) || "こどぐるサーチ" %></div>
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
