<!DOCTYPE html>
<html>
  <head>
    <title>KodoguruSearch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload", media: "all" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="flex flex-col min-h-screen">
    <%= render 'shared/before_login_header' %>
    <%= render 'shared/flash_message' %>  
    <div class="grow flex flex-col bg-[#fff1cf]">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
